@import './common/reset.css';
@import './common/common.css';
@import './common/header.css';
@import './common/footer.css';

.grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  border: 1px solid rgb(230, 230, 230);
  text-align: center;
  padding: 0 10px 10px 10px;
  min-height: 200px;
  display: grid;
  grid-template-columns: 1fr;
}

.card p {
  margin: 0;
  font-size: 16px;
  color: rgb(103, 108, 111);
}

.card p:nth-of-type(2) {
  margin-bottom: 30px;
}

.cardTitle {
  color: rgb(99, 109, 112);
  font-weight: 400;
  font-size: 25px;
}

.view-log-btn {
  width: 140px;
  padding: 10px 25px;
  background-color: rgb(255, 120, 0);
  border-radius: 5px;
  border: none;
  color: white;
  margin-right: 5px;
}

.delete-btn {
  width: 140px;
  padding: 10px 25px;
  background-color: white;
  border-radius: 5px;
  border: rgb(255, 120, 0) 1px solid;
  color: rgb(255, 120, 0);
}
