.petList {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.medList {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.petList h1 {
  font-weight: 400;
  color: rgb(109, 120, 129);
  font-size: 30px;
}

.medList h1 {
  font-weight: 400;
  color: rgb(109, 120, 129);
  font-size: 30px;
}

.petList button {
  padding: 8px 25px;
  background-color: rgb(255, 120, 0);
  border-radius: 5px;
  border: none;
  color: white;
}

.medList button {
  padding: 8px 25px;
  background-color: rgb(255, 120, 0);
  border-radius: 5px;
  border: none;
  color: white;
}
