body {
  margin: 0;
  font-family: monospace;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
* {
  box-sizing: border-box;
}

/* HEADER SECTION */
.head {
  border-bottom: 1px solid rgb(230, 230, 230);
}

.header {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 0;
}

.header img {
  width: auto;
  height: 60px;
}

.nav a {
  text-decoration: none;
  color: rgb(255, 138, 0);
  padding: 0 10px;
  font-size: 16px;
}

/* PETLIST SECTION */

.petList {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.medList {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.petList h1 {
  font-weight: 400;
  color: rgb(109, 120, 129);
  font-size: 30px;
}

.medList h1 {
  font-weight: 400;
  color: rgb(109, 120, 129);
  font-size: 30px;
}

.petList button {
  padding: 8px 25px;
  background-color: rgb(255, 120, 0);
  border-radius: 5px;
  border: none;
  color: white;
}

.medList button {
  padding: 8px 25px;
  background-color: rgb(255, 120, 0);
  border-radius: 5px;
  border: none;
  color: white;
}

/* GRID SECTION */

.grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

.med-grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  border: 1px solid rgb(230, 230, 230);
  text-align: center;
  padding: 0 10px 10px 10px;
  min-height: 200px;
}

.card h2 {
  font-size: 35px;
  color: rgb(103, 108, 111);
}

.card p {
  margin: 0;
  font-size: 16px;
  color: rgb(103, 108, 111);
}

.card p:nth-of-type(2) {
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  gap: 5px;
}

.cardTitle {
  color: rgb(99, 109, 112);
  font-weight: 400;
  font-size: 25px;
}

.view-log-btn {
  width: 140px;
  padding: 10px 25px;
  background-color: rgb(255, 120, 0);
  border-radius: 5px;
  border: none;
  color: white;
}

.delete-btn {
  width: 140px;
  padding: 10px 25px;
  background-color: white;
  border-radius: 5px;
  border: rgb(255, 120, 0) 1px solid;
  color: rgb(255, 120, 0);
}

/* FOOTER SECTION */

.footer {
  text-align: center;
  color: rgb(162, 167, 170);
  margin-top: auto;
}

.footer h2 {
  font-weight: 400;
}

/* LOG SECTION */

.log {
  max-width: 1200px;
  margin: 0 auto;
}

.title-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-div h1 {
  font-weight: 400;
  color: rgb(99, 109, 112);
}

.display-div {
  display: flex;
  align-items: center;
}

.display-div button {
  padding: 6px 10px;
  margin: 0 2px;
  background-color: rgb(255, 120, 0);
  border-radius: 5px;
  border: none;
  color: white;
}

.display-div p {
  font-size: 16px;
}

.presc-btn {
  padding: 10px 25px;
  background-color: rgb(255, 120, 0);
  border-radius: 5px;
  border: none;
  color: white;
}

.log-btn {
  padding: 10px 25px;
  background-color: white;
  border-radius: 5px;
  border: rgb(255, 120, 0) 1px solid;
  color: rgb(255, 120, 0);
}

/* forms section */
.pets-form {
  background-color: rgb(227, 227, 227);
  padding: 30px;
  min-width: 600px;
  border-radius: 10px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pets-form label {
  font-weight: 400;
  color: rgb(99, 109, 112);
  font-size: 20px;
}
.pets-form input {
  padding: 10px;
}

.pets-form * {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.pets-form button {
  margin-top: auto;
  width: 140px;
  padding: 10px 25px;
  background-color: rgb(255, 120, 0);
  border-radius: 5px;
  border: none;
  color: white;
}
